// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2019
 * Author(s): Giulio Benetti <giulio.benetti@benettiengineering.com>
 */

/dts-v1/;
#include "imxrt1050.dtsi"
#include "imxrt1050-pinfunc.h"

/ {
	model = "NXP IMXRT1050-evk board";
	compatible = "fsl,imxrt1050-evk", "fsl,imxrt1050";

	chosen {
		stdout-path = &lpuart1;
	};

	aliases {
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		mmc0 = &usdhc1;
		serial0 = &lpuart1;
		ethernet0 = &fec;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x2000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		region0: mmio@0x81f00000 {
			compatible = "shared-dma-pool";
			reg = <0x81f00000 0x100000>;
			no-map;
			linux,dma-default;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet &pinctrl_enet_mdio>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-id0022.1560", "ethernet-phy-ieee802.3-c22";
			reg = <2>;
			micrel,led-mode = <1>;
			clocks = <&clks IMXRT1050_CLK_ENET_REF>;
			clock-names = "rmii-ref";
		};
	};
};

&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MXRT1050_IOMUXC_GPIO_B1_10_ENET_TX_CLK		0xf1
			MXRT1050_IOMUXC_GPIO_B1_04_ENET_RX_DATA00	0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_05_ENET_RX_DATA01	0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_06_ENET_RX_EN		0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_11_ENET_RX_ER		0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_07_ENET_TX_DATA00	0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_08_ENET_TX_DATA01	0xb0e9
			MXRT1050_IOMUXC_GPIO_B1_09_ENET_TX_EN		0xb0e9
			MXRT1050_IOMUXC_GPIO_AD_B0_09_GPIO1_IO09	0xb069
			MXRT1050_IOMUXC_GPIO_AD_B0_10_GPIO1_IO10	0xb069
		>;
	};

	pinctrl_enet_mdio: enetmdiogrp {
		fsl,pins = <
			MXRT1050_IOMUXC_GPIO_EMC_40_ENET_MDC		0xb0e9
			MXRT1050_IOMUXC_GPIO_EMC_41_ENET_MDIO		0xb829
		>;
	};

	pinctrl_lpuart1: lpuart1grp {
		fsl,pins = <
			MXRT1050_IOMUXC_GPIO_AD_B0_12_LPUART1_TXD	0xf1
			MXRT1050_IOMUXC_GPIO_AD_B0_13_LPUART1_RXD	0xf1
		>;
	};

	pinctrl_usdhc0: usdhc0grp {
		fsl,pins = <
			MXRT1050_IOMUXC_GPIO_B1_12_USDHC1_CD_B		0x1B000
			MXRT1050_IOMUXC_GPIO_B1_14_USDHC1_VSELECT	0xB069
			MXRT1050_IOMUXC_GPIO_SD_B0_00_USDHC1_CMD	0x17061
			MXRT1050_IOMUXC_GPIO_SD_B0_01_USDHC1_CLK	0x17061
			MXRT1050_IOMUXC_GPIO_SD_B0_05_USDHC1_DATA3	0x17061
			MXRT1050_IOMUXC_GPIO_SD_B0_04_USDHC1_DATA2	0x17061
			MXRT1050_IOMUXC_GPIO_SD_B0_03_USDHC1_DATA1	0x17061
			MXRT1050_IOMUXC_GPIO_SD_B0_02_USDHC1_DATA0	0x17061
		>;
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc0>;
	pinctrl-1 = <&pinctrl_usdhc0>;
	pinctrl-2 = <&pinctrl_usdhc0>;
	pinctrl-3 = <&pinctrl_usdhc0>;
	cd-gpios = <&gpio2 28 GPIO_ACTIVE_LOW>;
	status = "okay";
};
